<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{myCss.css}">
</head>
<body>
    <form method = "post" action="determineWinner">
        <table>
            <tr>
                <td><img src="../rock.PNG" alt="Rock"><br></td>
                <td><img src="../paper.PNG" alt="Paper"><br></td>
                <td><img src="../scissors.PNG" alt="Scissors"><br></td>
            </tr>
            <tr>
                <td>
                    <p><input type="radio" id="rock" name="gesture" value="rock" checked="True">
                        <label for="rock">Rock</label></p>
                </td>
                <td>
                    <p><input type="radio" id="paper" name="gesture" value="paper">
                        <label for="paper">Paper</label></p>
                </td>
                <td>
                    <p><input type="radio" id="scissors" name="gesture" value="scissors">
                        <label for="scissors">Scissors</label><br></p>
                </td>
            </tr>
            <tr><td></td><td><p><input type="submit"></p></td><td></td></tr>
        </table>
    </form>
</body>
</html>