<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = "post" action="determineWinner">
        <img src="../Rock.PNG" alt="Rock"><br>
        <input type="radio" id="rock" name="gesture" value="rock">
        <label for="rock">Rock</label><br>
        <img src="../Paper.PNG" alt="Paper"><br>
        <input type="radio" id="paper" name="gesture" value="paper">
        <label for="paper">Paper</label><br>
        <img src="../Scissors.PNG" alt="Scissors"><br>
        <input type="radio" id="scissors" name="gesture" value="scissors">
        <label for="scissors">Scissors</label><br>
        <input type="submit">
    </form>
</body>
</html>